SUPABASE_URL = "PUT HERE YOUR DATABASE ENDPOINT"
SUPABASE_KEY = "PUT HERE YOUR DATABASE ACESS KEY "
DATABASE_URL = "PUT HERE YOUR DATABASE CONNECTION LINK"
SECRET_KEY = "YOUR JWT KEY"
ALGORITHM = "HS256"
ACESS_TOKEN_EXPIRE_MINUTES = "PUT HERE IN HOW MANY MINUTES YOUR BEARER TOKEN WILL EXPIRE"